mainmenu "RT-Thread Configuration"

BSP_DIR := src/platform/board/stm32f103c8
RTT_DIR := rt-thread

config SOC_STM32F103C8
    bool
    select SOC_SERIES_STM32F1
    select RT_USING_COMPONENTS_INIT
    select RT_USING_USER_MAIN
    default y

source "$(RTT_DIR)/Kconfig"
rsource "$(BSP_DIR)/soc/Kconfig"
rsource "$(BSP_DIR)/Kconfig"
